# RKI-Daten aufbereiten
Corona-Datensatz des RKI lesen, filtern, aufsummieren...

Für das Seminar "Datenjournalismus" im Sommersemester 2022

Hochschule Mainz, Studiengang Digital Media, 6. Semester

CC-BY Jan Eggers

## Vorbereitung: Bibliotheken laden
Zusatzpakete statten Python mit Fähigkeiten zur Ein- und Ausgabe aus. Sie müssen in der jeweiligen Python-Umgebung installiert sein - wenn sie das nicht sind, muss man einmal auf die Kommandozeile und beispielsweise mit dem Befehl
```conda install pandas```
das Pandas-Paket installieren, das wir für Tabellen ("Dataframes") brauchen. 

(Wer Updates für ein Paket einspielen will, nutzt dazu den Befehl ```conda update ...``` oder einfach  ```conda update --all```)

In [1]:
import pandas as pd
import numpy as np

Den obigen Textblock ausgeführt - und nichts ist passiert? Dann hat alles geklappt - und wir können loslegen. 

## CSV-Datensatz vom RKI einlesen
Wir lesen die CSV-Datei des RKI aus: Die Datei *

https://github.com/robert-koch-institut/SARS-CoV-2_Infektionen_in_Deutschland
schauen sie uns danach kurz an.

Die Datei ist ein Feld-Wald-und-Wiesen-CSV: 
- Als Trennzeichen wird das Komma (",") verwendet, das keine Probleme mit Kommazahlen bereitet
- Text ist in Anführungszeichen - und er enthält auch keine Steuerzeichen für Zeilensprünge, die gerne für Chaos sorgen
- Der Zeichensatz der Datei ist UTF-8 - im Universal-Format gibt es keine Probleme mit Umlauten etc.

In [4]:
rki_url = "https://media.githubusercontent.com/media/robert-koch-institut/SARS-CoV-2_Infektionen_in_Deutschland/master/Aktuell_Deutschland_SarsCov2_Infektionen.csv"

rki_df = pd.read_csv(rki_url)
head(rki_df)

NameError: name 'head' is not defined

**Filtern**

Nur das Bundesland oder, alternativ, nur einen Kreis.

In [47]:
#rki_hessen_df = rki_df.query("Bundesland == 'Hessen'")
rki_hessen_df = rki_df.query("IdLandkreis == 6411")
rki_hessen_df

,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
52617,16103485,6,Hessen,SK Darmstadt,A00-A04,M,1,0,2020/04/22 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/04/15 00:00:00,0,1,1,Nicht übermittelt
52618,16103486,6,Hessen,SK Darmstadt,A00-A04,W,1,0,2020/04/08 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/03/27 00:00:00,0,1,1,Nicht übermittelt
52619,16103487,6,Hessen,SK Darmstadt,A05-A14,M,1,0,2020/04/08 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/03/25 00:00:00,0,1,1,Nicht übermittelt
52620,16103488,6,Hessen,SK Darmstadt,A05-A14,M,1,0,2020/04/22 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/04/17 00:00:00,0,1,1,Nicht übermittelt
52621,16103489,6,Hessen,SK Darmstadt,A05-A14,M,1,0,2020/05/06 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/05/02 00:00:00,0,1,1,Nicht übermittelt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52829,16103697,6,Hessen,SK Darmstadt,A80+,W,1,1,2020/04/24 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,0,2020/04/04 00:00:00,-9,0,1,Nicht übermittelt
52830,16103698,6,Hessen,SK Darmstadt,A80+,W,1,1,2020/04/24 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,0,2020/04/12 00:00:00,-9,0,1,Nicht übermittelt
52831,16103699,6,Hessen,SK Darmstadt,A80+,W,1,0,2020/04/29 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/04/29 00:00:00,0,1,0,Nicht übermittelt
52832,16103700,6,Hessen,SK Darmstadt,A80+,W,1,1,2020/04/30 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,0,2020/04/20 00:00:00,-9,0,1,Nicht übermittelt
52833,16103701,6,Hessen,SK Darmstadt,A80+,W,1,0,2020/05/09 00:00:00,6411,"06.07.2020, 00:00 Uhr",0,-9,2020/05/08 00:00:00,0,1,1,Nicht übermittelt

Etwas nacharbeiten: 
- Die Spalten `Meldedatum` und `RefDatum` in ordentliche Datumsangaben umformatieren
- Die Spalte `IdLandkreis` von einer Zahl in einen String umwandeln - mit führender Null

In [48]:
from datetime import date
from dateutil.parser import parse

for i in rki_hessen_df.index:
    rki_hessen_df.loc[i,'IdLandkreis'] = "0"+str(rki_hessen_df.IdLandkreis[i])
    rki_hessen_df.loc[i,'Meldedatum'] = parse(rki_hessen_df.Meldedatum[i])
    rki_hessen_df.loc[i,'Refdatum'] = parse(rki_hessen_df.Refdatum[i])
    
rki_hessen_df

C:\Users\Jan\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
52617,16103485,6,Hessen,SK Darmstadt,A00-A04,M,1,0,2020-04-22 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-04-15 00:00:00,0,1,1,Nicht übermittelt
52618,16103486,6,Hessen,SK Darmstadt,A00-A04,W,1,0,2020-04-08 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-03-27 00:00:00,0,1,1,Nicht übermittelt
52619,16103487,6,Hessen,SK Darmstadt,A05-A14,M,1,0,2020-04-08 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-03-25 00:00:00,0,1,1,Nicht übermittelt
52620,16103488,6,Hessen,SK Darmstadt,A05-A14,M,1,0,2020-04-22 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-04-17 00:00:00,0,1,1,Nicht übermittelt
52621,16103489,6,Hessen,SK Darmstadt,A05-A14,M,1,0,2020-05-06 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-05-02 00:00:00,0,1,1,Nicht übermittelt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52829,16103697,6,Hessen,SK Darmstadt,A80+,W,1,1,2020-04-24 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,0,2020-04-04 00:00:00,-9,0,1,Nicht übermittelt
52830,16103698,6,Hessen,SK Darmstadt,A80+,W,1,1,2020-04-24 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,0,2020-04-12 00:00:00,-9,0,1,Nicht übermittelt
52831,16103699,6,Hessen,SK Darmstadt,A80+,W,1,0,2020-04-29 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-04-29 00:00:00,0,1,0,Nicht übermittelt
52832,16103700,6,Hessen,SK Darmstadt,A80+,W,1,1,2020-04-30 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,0,2020-04-20 00:00:00,-9,0,1,Nicht übermittelt
52833,16103701,6,Hessen,SK Darmstadt,A80+,W,1,0,2020-05-09 00:00:00,06411,"06.07.2020, 00:00 Uhr",0,-9,2020-05-08 00:00:00,0,1,1,Nicht übermittelt

**Tabelle pivotieren**: Hessische Fälle nehmen, Neufälle filtern (Variable NeuerFall muss 0 oder 1 sein), nach Meldedatum aufsummieren (das Argument `aggfunc=np.sum` bestimmt, dass als Funktion zum Aggregieren die Summe der Werte berechnet wird)

In [50]:
mein_df = rki_hessen_df.query("NeuerFall in  (0,1)")
neufaelle_df = pd.pivot_table(mein_df,index=["Meldedatum"],values=["AnzahlFall"],aggfunc=np.sum)
neufaelle_df

            AnzahlFall
Meldedatum
2020-03-13           2
2020-03-16           6
2020-03-17           1
2020-03-18           6
2020-03-19           2
2020-03-20           6
2020-03-21           4
2020-03-24           3
2020-03-25           8
2020-03-26          10
2020-03-27          12
2020-03-28           1
2020-03-29           3
2020-03-30           6
2020-03-31           2
2020-04-01           7
2020-04-02           4
2020-04-03           4
2020-04-04           7
2020-04-05           1
2020-04-06           1
2020-04-07           4
2020-04-08           9
2020-04-09           6
2020-04-10           6
2020-04-11           2
2020-04-12           2
2020-04-13           1
2020-04-14           1
2020-04-15           4
2020-04-16           7
2020-04-17           3
2020-04-18           4
2020-04-19          21
2020-04-20           1
2020-04-21           5
2020-04-22          13
2020-04-23           4
2020-04-24           2
2020-04-25           2
2020-04-27           4
2020-04-28           2
2020-04-29           1
2020-04-30           3
2020-05-03           2
2020-05-05           2
2020-05-06           5
2020-05-09           3
2020-05-11           1
2020-05-13           1
2020-05-14           2
2020-05-15           1
2020-05-19           2
2020-06-08           1
2020-06-20           1
2020-06-22           2
2020-06-25           1
2020-06-26           1
2020-07-03           1

**Nach Altersgruppen aufsummieren** - ein Pivot nach Meldedatum über die Altersgruppen als Spalten, den Summen (aggfunc) der Fallzahlen.

In [51]:
mein_df = rki_df.query("Bundesland == 'Hessen' & NeuerFall in (0,1)")
faelle_nach_alter_df = pd.pivot_table(mein_df,index=["Meldedatum"],columns=["Altersgruppe"],values=["AnzahlFall"],aggfunc=np.sum,fill_value = 0)
faelle_nach_alter_df

                    AnzahlFall
Altersgruppe           A00-A04 A05-A14 A15-A34 A35-A59 A60-A79 A80+ unbekannt
Meldedatum
2020/02/28 00:00:00          0       0       1       0       0    0         0
2020/03/01 00:00:00          0       0       2       2       0    0         0
2020/03/02 00:00:00          0       0       4       0       0    0         0
2020/03/03 00:00:00          0       2       0       2       0    0         0
2020/03/04 00:00:00          0       0       0       2       0    0         0
...                        ...     ...     ...     ...     ...  ...       ...
2020/07/01 00:00:00          3       4      16      20       5    1         0
2020/07/02 00:00:00          0       1      12      14       2    0         0
2020/07/03 00:00:00          0       3      12      13       3    0         0
2020/07/04 00:00:00          1       0       6       7       1    1         0
2020/07/05 00:00:00          1       1       3       2       0    0         0

[127 rows x 7 columns]

## Tabelle als Excel-Datei ausgeben
Und jetzt hätten wir das Ganze gerne wieder als Excel-Datei. Das ist zum Glück einfach.

Die Parameter sagen: Spaltennamen mit in die Tabelle schreiben, auch den Index (das Datum). Und Zahlen mit Komma ausgeben! Alle Formatierungsbefehle für `to_excel` finden sich [in der Pandas-Dokumentation.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)

In [52]:
faelle_nach_alter_df.to_excel ('export.xlsx', header=True)

**Nur Mut! Man kann nichts kaputt machen!**